@import 'colors.scss';

.card {
    margin: 5px 0;
}

.mat-form-field {
    width: 100%;
}

.mat-card-actions {
    text-align: center;

    .mat-stroked-button {
        border-color: $primary-color;
        width: 40%;
    }
}