@import 'colors.scss';
@import 'snackbars.scss';

.list {  
    margin: 0 30px;
    min-height: 80vh;  
    width: 250px;
}

.mat-card {
    background-color: $list-color;
    width: 100%;

    .mat-card-title {
        font-size: large;
        font-weight: 500;

        h2 {
            cursor: pointer;
        }
    }

    .mat-form-field {
        width: 100%;
    }

    .mat-stroked-button {
        border: 0;
        width: 70%;
    }

    .mat-button {
        min-width: 20%;
    }
}

.box-list {
    display: flex;
    flex-direction: column;
}