<div class="list">
    <mat-card>
        <mat-card-header>
            <form [formGroup]="formGroup" (ngSubmit)="updateList()">
                <mat-card-title>
                    <h2 *ngIf="!edit" (click)="editList()">{{list.name}}</h2>
                    <mat-form-field *ngIf="edit">
                        <input matInput formControlName="name" name="name">
                        <button mat-icon-button matSuffix (click)="updateList()"><mat-icon>edit</mat-icon></button>
                    </mat-form-field>
                </mat-card-title>
            </form>
        </mat-card-header>
        <mat-card-content>
            <div cdkDropList class="box-list" 
                [cdkDropListData]="list.cards" 
                (cdkDropListDropped)="drop($event)"> 
                    <app-list-card *ngFor="let card of list.cards" [card]="card" [idList]="list.id"></app-list-card>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-stroked-button color="primary" (click)="addCard()"><mat-icon>add</mat-icon> Add another card</button>
            <button mat-button color="primary" (click)="removeList(list.id)">
                <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
    </mat-card>
</div>
