@import 'colors.scss';

.row:first-child {
    width: 100%;
}

.board-box{
    display: flex;
    margin: 15px 0;
    overflow-x: scroll;
}

.new-list {  
    margin: 0 30px;
    width: 250px;

    .mat-stroked-button {
        border-color: $primary-color;
        width: 100%;
    }
}