<div class="row center-xs middle-xs">
    <div class="col-xs-11 cols-sm-11 col-md-6 col-lg-6">
        <div class="box">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <ng-content select="[header]"></ng-content>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <ng-content select="[content]"></ng-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
