<div mat-dialog-content>
    <p>Card Info</p>
    <div class="row">
        <div class="col-xs-12">
            <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="card.title">
            </mat-form-field>
        </div>
        <div class="col-xs-12">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="card.description">
            </mat-form-field>
        </div>
        <div class="col-xs-16">
            <mat-form-field appearance="outline">
                <mat-label>Creation Date</mat-label>
                <input matInput [matDatepicker]="pickerCreationDate" [(ngModel)]="card.creationDate">
                <mat-datepicker-toggle matSuffix [for]="pickerCreationDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerCreationDate></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-xs-6">
            <mat-form-field appearance="outline">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="pickerDueDate" [(ngModel)]="card.dueDate">
                <mat-datepicker-toggle matSuffix [for]="pickerDueDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerDueDate></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-xs-12">
            <label>Priority: </label>
            <mat-radio-group [(ngModel)]="card.priority" color="primary">
            <mat-radio-button value="HIGH">High</mat-radio-button>
            <mat-radio-button value="MEDIUM">Medium</mat-radio-button>
            <mat-radio-button value="LOW">Low</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="card" cdkFocusInitial color="primary">Update</button>
</div>
