$phone-vertical-max: 767px;
$phone-horizontal-max: 1023px;
$tablet-vertical-min: 768px;
$tablet-horizontal-min: 1024px; 
$tablet-vertical-max: 1024px; 
$tablet-horizontal-max: 1366px;
$screen-min: 1367px;